<section>
  <h2>REMARQUABLE</h2>
  <p>BEAUTÉ & ÉLÉGANCE</p>
  <p-carousel
    (click)="goToDetails()"
    class="carousel"
    [value]="products"
    [numVisible]="4"
    [numScroll]="1"
    [circular]="true"
    [responsiveOptions]="responsiveOptions"
    autoplayInterval="2500"
  >
    <ng-template let-product pTemplate="item">
      <div class="card-wraper">
        <div class="image-wraper">
          <a href="/shop/{{ product.id }}"
            ><img src="{{ product.image }}" [alt]="product.name" class=""
          /></a>
        </div>
        <div class="product">
          <p class="product-name">{{ product.name }}</p>
          <p class="product-title">{{ product.title }}</p>
          <p class="product-price">
            {{ product.price + " DT" }}
          </p>
        </div>
      </div>
    </ng-template>
  </p-carousel>
</section>
