<main class="shoe-detail-page">
  @if (listOfProducts) {
  <app-shop-product-details [product]="listOfProducts"></app-shop-product-details>
  }

  <div class="related-products">
    <h3>PRODUITS LIÉS À CET ARTICLE</h3>
    <div class="related-items">
      <div class="related-item">
        <img src="shoes1.png" alt="Air Pro X3 Whole Green" />
        <p class="item-name">Air Pro X3 Whole Green</p>
        <p class="item-description">Chaussuere pour Homme</p>
        <p class="price">58,00 €</p>
      </div>
      <div class="related-item">
        <img src="shoes2.png" alt="Air Pro X3 Aqua" />
        <p class="item-name">Air Pro X3 Aqua</p>
        <p class="item-description">Chaussuere pour Homme</p>
        <p class="price">58,00 €</p>
      </div>
      <div class="related-item">
        <img src="shoes3.png" alt="Air Pro X3 Blue" />
        <p class="item-name">Air Pro X3 Blue</p>
        <p class="item-description">Chaussuere pour Homme</p>
        <p class="price">55,00 €</p>
      </div>
      <div class="related-item">
        <img src="shoes3.png" alt="Air Pro X3 Blue" />
        <p class="item-name">Air Pro X3 Blue</p>
        <p class="item-description">Chaussuere pour Homme</p>
        <p class="price">55,00 €</p>
      </div>
    </div>
  </div>
</main>
