<main class="contact-container">
  <section class="contact-hero">
    <h1>Contactez-nous</h1>
    <h2>
      Nous sommes là pour vous aider avec toutes vos questions et
      préoccupations.
    </h2>
  </section>
  <section class="quick-assist">
    <h2>Foire Aux Questions</h2>
    <div class="card flex justify-content-center">
      <p-accordion [multiple]="true" [activeIndex]="[0]">
        <p-accordionTab
          header="Quels sont les délais de livraison pour les produits de peinture ?"
        >
          <p class="answers">
            Nos délais de livraison varient entre 3 et 5 jours ouvrables selon
            votre localisation.
          </p>
        </p-accordionTab>
        <p-accordionTab
          header="Puis-je retourner un produit de peinture si je ne suis pas satisfait ?"
        >
          <p>
            Oui, vous avez 30 jours pour retourner un produit inutilisé et en
            parfait état.
          </p>
        </p-accordionTab>
        <p-accordionTab
          header="Comment puis-je suivre ma commande de peinture ?"
        >
          <p>
            Une fois votre commande expédiée, vous recevrez un e-mail avec les
            informations de suivi.
          </p>
        </p-accordionTab>

        <p-accordionTab header="Quels modes de paiement acceptez-vous ?">
          <p>
            Nous acceptons les paiements par carte bancaire, PayPal, et Apple
            Pay.
          </p>
        </p-accordionTab>
        <p-accordionTab header="Comment puis-je contacter le service client ?">
          <p>
            Vous pouvez nous contacter par e-mail ou via notre formulaire de
            contact disponible sur la page de contact.
          </p>
        </p-accordionTab>
        <p-accordionTab header="Livrez-vous à l'international ?">
          <p>
            Oui, nous proposons la livraison dans plusieurs pays. Consultez nos
            options lors du paiement pour plus de détails.
          </p>
        </p-accordionTab>
        <p-accordionTab header="Puis-je modifier ou annuler ma commande ?">
          <p>
            Vous pouvez modifier ou annuler votre commande tant qu'elle n'a pas
            encore été expédiée. Veuillez nous contacter dès que possible.
          </p>
        </p-accordionTab>
      </p-accordion>
    </div>
  </section>
  <div class="contact-info">
    <div class="map-container">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d2056.7779432963553!2d10.589485789593914!3d35.830236074195376!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2stn!4v1735973489669!5m2!1sen!2stn"
        width="100%"
        height="300"
        allowfullscreen=""
        loading="lazy"
      ></iframe>
    </div>
    <div class="contact-section">
      <h2>Notre Adresse</h2>
      <p>
        paint Store<br />
        Rte ceinture<br />
        Sousse, 4000<br />
      </p>
      <h2>Contact Téléphonique</h2>
      <p>
        <strong>Téléphone :</strong> +216 1 23 45 67 89<br />
        <strong>Heures d'ouverture :</strong> Lundi - Vendredi, 9h - 18h
      </p>
      <h2>Support par E-mail</h2>
      <p>
        Vous pouvez également nous envoyer un e-mail à l'adresse suivante :<br />
        <strong>Email :</strong> akremsedki21&#64;gmail.com
      </p>
    </div>
  </div>
</main>
