<main class="about-us-section">
  <section class="about-intro">
    <h1>Qui sommes-nous?</h1>
  </section>
  <section class="about-values">
    <div class="about-values-wrapper">
      <h3>
        Vous aider à rester en forme
        <p>Depuis 2024</p>
      </h3>
    </div>
  </section>
  <section class="about-steps">
    <div class="about-steps-wrapper">
      <article class="step">
        <span class="step-number">01</span>
        <h4>Peinture intérieure</h4>
        <p>
          Nous offrons des services de peinture intérieure de haute qualité pour
          transformer votre espace.
        </p>
      </article>
      <article class="step">
        <span class="step-number">02</span>
        <h4>Peinture extérieure</h4>
        <p>
          Nous proposons des services de peinture extérieure pour protéger et
          embellir votre maison.
        </p>
      </article>
      <article class="step">
        <span class="step-number">03</span>
        <h4>Rénovation</h4>
        <p>
          Nous sommes spécialisés dans la rénovation de maisons et
          d'appartements.
        </p>
      </article>
      <article class="step">
        <span class="step-number">04</span>
        <h4>Conseils en décoration</h4>
        <p>
          Nous sommes là pour vous aider à choisir les couleurs et les finitions
          parfaites pour votre projet.
        </p>
      </article>
    </div>
  </section>
  <section class="about-history-wrapper">
    <div class="about-history">
      <h4>Notre parcours</h4>
      <p>
        Au fil des ans, nous avons acquis une expérience et une expertise dans
        le domaine de la peinture, et nous sommes fiers de nos réalisations.
      </p>
      <button class="btn-know-more">Découvrir plus</button>
    </div>
  </section>
  <section class="promo-section">
    <div class="promo-image-wrapper">
      <div class="promo-image">
        <h4>QUALITÉ</h4>
        <img src="mona_lisa.jpg" alt="Image de performance" />
      </div>
      <div class="promo-image">
        <h4>CRÉACTIVITÉ</h4>
        <img src="girl_with_a_pearl_earring.jpg" alt="Image de confort" />
      </div>
      <div class="promo-image">
        <h4>PROFESSIONNALISME</h4>
        <img src="the_scream.jpg" alt="Image de durabilité" />
      </div>
    </div>
  </section>
</main>
