<h2>Récapitulatif</h2>
<section class="summary">
  <div class="line-item">
    <span>Sous-total</span>
    <span>{{ subTotal }} DT</span>
  </div>
  <div class="line-item">
    <span>Frais estimés de prise en charge et d'expédition</span>
    <span>Gratuit</span>
  </div>
  <div class="line-item">
    <span>Réduction appliquée</span>
    <span>{{ subTotal - total }} DT</span>
  </div>
  <div class="total">
    <span>Total</span>
    <span>{{ total }} DT</span>
  </div>
</section>

<button class="payment-button">Paiement</button>
