@import "../../../styles//variables.scss";

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  max-width: 100%;
  height: 100%;
  section {
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: $secondary-color;
    padding-top: 2em;
    text-align: center;
    overflow: hidden;
    width: 100%;
    align-items: center;
    min-height: 100vh;
    background-image: url("/sportshoes-hero-section.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    p {
      width: 100%;
      font-size: clamp(2em, 4vw, 4em);
      font-weight: 600;
      line-height: 1;
      font-family: "Roboto", sans-serif;
      color: $primary-color;
    }
    h1 {
      font-family: "Antonio", sans-serif;
      font-size: clamp(5em, 12vw, 12em);
      line-height: 1;
      color: $text-color;

      text-shadow: 4px 4px 10px black;
      width: 100%;
      font-weight: 400;
    }
    img {
      position: absolute;
      top: 0;
    }
    .button-wraper {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: end;
      padding-bottom: 7em;
      position: absolute;
      bottom: 0;
      button {
        padding: 1em 2em;
        padding: 0.8em 1.6em;
        border: none;
        border-radius: 4em;
        font-size: 1.4em;
        font-weight: 600;
        font-family: "Roboto", sans-serif;
        color: $primary-color;
        background-color: white;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        &:hover {
          transform: scale(1.1);
        }
      }
    }
  }
  .carousel-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .manufacturing-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $secondary-color;
  }

  .banner-wrapper {
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  main {
    section {
      background-size: 600px;
    }
  }
}
