<main class="cart-item">
  <section class="item-details">
    <div class="product-info">
      <div class="image-wrapper">
        <img src="{{ product.image }}" alt="Shoes" />
        <div class="quantity-section">
          <i
            [ngClass]="product.quantity < 2 ? 'pi pi-trash' : 'pi pi-minus'"
            (click)="removeItem()"
          ></i>
          <p>{{ product.quantity }}</p>
          <i class="pi pi-plus" (click)="addItem()"></i>
        </div>
      </div>
      <section class="info-wrapper">
        <div class="price-info">
          <p class="original-price">
            {{ product.price * product.quantity }} DT
          </p>
        </div>
        <div class="product-description">
          <h2 class="product-name">{{ product.name }}</h2>
          <p>{{ product.title }}</p>
        </div>
      </section>
    </div>
  </section>
</main>
